<div class="markets">
  <div class="container">  
    <div class="row">
    	  <div class="col-md-8">

            <div class="row">
            <%= (1..11).each do |n| %>
            <div class="col-md-4">
    	  	<div class="card">
              <%= link_to "#" do %>
              <%= image_tag "mountain1.JPG", class: "card-img-top" %>
              <% end %>
              <div class="card-body" style="background-color: white;">
                  <h5 class="card-title">mountain<%= n %></h5>
                  <strong class="card-text">sample:mountain</strong>
                  <%= link_to "#" do %>
                  <i class="fa fa-star float-right" style="color: yellow;"></i>
                  <% end %>
              </div> 
            </div>
            </div>
            <% end %>
            </div>

    	  </div>
    	  <div class="col-md-4">
    	  	<%= form_tag root_path method: :get do %>
    	  		<p>詳細検索</p>
    	  		<%= label_tag :keyword, "キーワード追加" %>
    	  		<%= text_field_tag :keyword, nil, placeholder: "例)値下げ" %>
  
    	  		<%= label_tag :category, "カテゴリー選択" %>
    	  		<%= select_tag :category, options_for_select([["sample", "1"]]) %>
  
    	  		<%= label_tag :low_value, "価格" %>
    	  		<%= text_field_tag :low_value, nil, placeholder: "100" %>~<%= text_field_tag :high_value, nil, placeholder: "1000" %>
  
    	  		<%= label_tag :order, "並び替え" %>
    	  		<%= select_tag :order, options_for_select([["価格の高い順", "high_price"], ["価格の安い順", "low_price"], ["新しい順", "new"], ["古い順", "old"  ]]) %>
  
    	  		<%= submit_tag "検索" %>
    	  	<% end %>
    	  </div>
    </div>
  </div>
</div>