<header class="navbar navbar-expand-lg navbar-light bg-light">
	<%= link_to "codecamp_market", "#", class: "navbar-brand" %>
	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="Navbar"></div>	
	<%= form_tag root_path, method: :get, class: "form-inline" do %>
	  <%= text_field_tag :keyword, nil, placeholder: "キーワード検索" %>
	  <%= submit_tag "検索", class: "btn btn-outline-success" %>
	<% end %>
    <%= link_to "#" do %>
	  <button type="button" class="btn btn-primary">出品する</button>
	<% end %>
	<%= link_to "マイページ", "#" %>
</header>